@font-face {
  font-family: "iconfont"; /* Project id 5163375 */
  src: url('iconfont.woff2?t=1778312359157') format('woff2'),
       url('iconfont.woff?t=1778312359157') format('woff'),
       url('iconfont.ttf?t=1778312359157') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inbox:before {
  content: "\eb2c";
}

.icon-label-alt:before {
  content: "\eb2d";
}

.icon-label-alt-multiple:before {
  content: "\eb2e";
}

.icon-chart-bar:before {
  content: "\eb1f";
}

.icon-hidden:before {
  content: "\eb22";
}

.icon-visible:before {
  content: "\eb73";
}

.icon-item:before {
  content: "\e6fd";
}

.icon-Captcha:before {
  content: "\e615";
}

.icon-edit:before {
  content: "\eb1d";
}

.icon-edit-box:before {
  content: "\eb1e";
}

.icon-warning-box:before {
  content: "\eb76";
}

.icon-fridge-line:before {
  content: "\ec0a";
}

.icon-trash:before {
  content: "\eb6a";
}

.icon-device-phone:before {
  content: "\eb1c";
}

.icon-contact-delete:before {
  content: "\eb16";
}

.icon-contact-plus:before {
  content: "\eb17";
}

.icon-delete:before {
  content: "\eb18";
}

.icon-device-tablet:before {
  content: "\eb19";
}

.icon-draft:before {
  content: "\eb1a";
}

.icon-folder-plus:before {
  content: "\eb1b";
}

.icon-home:before {
  content: "\eb21";
}

.icon-inbox-all:before {
  content: "\eb28";
}

.icon-inbox-full:before {
  content: "\eb29";
}

.icon-info-box:before {
  content: "\eb2a";
}

.icon-label:before {
  content: "\eb2b";
}

.icon-list:before {
  content: "\eb32";
}

.icon-lock:before {
  content: "\eb33";
}

.icon-loader:before {
  content: "\eb34";
}

.icon-lock-open:before {
  content: "\eb35";
}

.icon-login:before {
  content: "\eb36";
}

.icon-logout:before {
  content: "\eb37";
}

.icon-mail:before {
  content: "\eb38";
}

.icon-mail-unread:before {
  content: "\eb39";
}

.icon-notification:before {
  content: "\eb49";
}

.icon-save:before {
  content: "\eb56";
}

.icon-search:before {
  content: "\eb59";
}

.icon-trash-alt:before {
  content: "\eb6c";
}

.icon-user:before {
  content: "\eb6f";
}

.icon-user-minus:before {
  content: "\eb70";
}

.icon-user-plus:before {
  content: "\eb71";
}

.icon-users:before {
  content: "\eb72";
}

.icon-ac:before {
  content: "\ead6";
}

.icon-add-box-multiple:before {
  content: "\ead7";
}

.icon-add-box:before {
  content: "\ead8";
}

.icon-add-grid:before {
  content: "\ead9";
}

.icon-alert:before {
  content: "\eada";
}

.icon-animation:before {
  content: "\eadb";
}

.icon-archive:before {
  content: "\eadc";
}

.icon-arrow-down:before {
  content: "\eadd";
}

.icon-arrow-down-box:before {
  content: "\eade";
}

.icon-arrow-left:before {
  content: "\eadf";
}

.icon-arrows-horizontal:before {
  content: "\eae0";
}

.icon-arrow-right-box:before {
  content: "\eae1";
}

.icon-arrows-vertical:before {
  content: "\eae2";
}

.icon-arrow-up:before {
  content: "\eae3";
}

.icon-arrow-right:before {
  content: "\eae4";
}

.icon-arrow-up-box:before {
  content: "\eae5";
}

.icon-article-multiple:before {
  content: "\eae6";
}

.icon-article:before {
  content: "\eae7";
}

.icon-avatar:before {
  content: "\eae8";
}

.icon-battery:before {
  content: "\eae9";
}

.icon-battery-full:before {
  content: "\eaea";
}

.icon-book:before {
  content: "\eaeb";
}

.icon-bookmark:before {
  content: "\eaec";
}

.icon-bookmarks:before {
  content: "\eaed";
}

.icon-briefcase:before {
  content: "\eaee";
}

.icon-briefcase-account:before {
  content: "\eaef";
}

.icon-bug:before {
  content: "\eaf0";
}

.icon-buildings:before {
  content: "\eaf1";
}

.icon-cake:before {
  content: "\eaf2";
}

.icon-calendar:before {
  content: "\eaf3";
}

.icon-calendar-alert:before {
  content: "\eaf4";
}

.icon-calendar-arrow-left:before {
  content: "\eaf5";
}

.icon-calendar-arrow-right:before {
  content: "\eaf6";
}

.icon-calendar-check:before {
  content: "\eaf7";
}

.icon-calendar-minus:before {
  content: "\eaf8";
}

.icon-calendar-month:before {
  content: "\eaf9";
}

.icon-calendar-multiple:before {
  content: "\eafa";
}

.icon-calendar-multiple-check:before {
  content: "\eafb";
}

.icon-calendar-plus:before {
  content: "\eafc";
}

.icon-calendar-range:before {
  content: "\eafd";
}

.icon-calendar-remove:before {
  content: "\eafe";
}

.icon-calendar-search:before {
  content: "\eaff";
}

.icon-calendar-sort-ascending:before {
  content: "\eb00";
}

.icon-calendar-sort-descending:before {
  content: "\eb01";
}

.icon-calendar-text:before {
  content: "\eb02";
}

.icon-calendar-today:before {
  content: "\eb03";
}

.icon-calendar-week:before {
  content: "\eb04";
}

.icon-calendar-week-begin:before {
  content: "\eb05";
}

.icon-calendar-weekend:before {
  content: "\eb06";
}

.icon-calendar-tomorrow:before {
  content: "\eb07";
}

.icon-check:before {
  content: "\eb08";
}

.icon-checkbox-on:before {
  content: "\eb09";
}

.icon-checkbox:before {
  content: "\eb0a";
}

.icon-checklist:before {
  content: "\eb0b";
}

.icon-chevron-down:before {
  content: "\eb0c";
}

.icon-chevron-left:before {
  content: "\eb0d";
}

.icon-chevron-right:before {
  content: "\eb0e";
}

.icon-chevrons-horizontal:before {
  content: "\eb0f";
}

.icon-chevron-up:before {
  content: "\eb10";
}

.icon-chevrons-vertical:before {
  content: "\eb11";
}

.icon-clock:before {
  content: "\eb12";
}

.icon-close:before {
  content: "\eb13";
}

.icon-close-box:before {
  content: "\eb14";
}

.icon-contact:before {
  content: "\eb15";
}

